._57ih ._57ii {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px
}

._2og5 {
    margin-left: 8px;
    text-align: left
}

._6vye {
    margin-left: 8px;
    text-align: left
}

._2og6 {
    text-align: center
}

._2og7 {
    margin-right: 8px;
    text-align: right
}

._6vyf {
    margin-right: 8px;
    text-align: right
}

._2og8 {
    height: 6px
}

._2og9 {
    height: 12px
}

._2oga {
    border: 1px solid #4080ff;
    font-size: small;
    margin-top: -1px;
    padding: 7px
}

._2ogb {
    border: 1px solid #4080ff;
    font-size: small;
    margin-bottom: -1px;
    padding: 7px
}

._6sxu._2oga {
    border: 1px solid #fff
}

._6sxu._2ogb {
    border: 1px solid #fff
}

._2ogc {
    background: #5890ff;
    color: #fff
}

._2ogd {
    background: #fff
}

._1yf4 div._1yf5 .img,
._1yf4 div._1aa3 .img {
    vertical-align: top
}

._5g6e {
    border-radius: 5px
}

._nxb {
    background: #e9ebee;
    padding: 4px 8px 8px 8px
}

._nxb ._1aa3 {
    margin-left: 20px
}

._nxb ._nxd,
._nxb ._nxv {
    display: block;
    font-size: medium;
    line-height: 18px;
    margin: 4px
}

._nxb ._nxv {
    font-weight: lighter;
    margin-top: 8px
}

._nxw {
    margin-top: -6px
}

._nxw ._1aa3 {
    margin-left: 16px
}

._nxw ._nxd,
._nxw ._nxv {
    padding-left: 5px
}

._nxw ._nxd {
    font-size: 14px
}

._nxw ._nxv {
    font-size: 12px
}

._8ty8:active {
    background-color: rgba(255, 255, 255, 1) !important;
    opacity: .5
}

._8ty9 {
    font-weight: bold;
    padding: 8px;
    text-shadow: none
}

._8u98 {
    font-size: 15px;
    line-height: 20px
}

._8u99 {
    font-size: 17px;
    line-height: 22px
}

._8ty9:active {
    background-color: rgba(255, 255, 255, 1) !important;
    opacity: .5
}

._8pul {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    padding-top: 8px;
    text-shadow: none
}

._8pum {
    display: block;
    font-size: 13px;
    font-weight: lighter;
    line-height: 15px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: none
}

._9brz {
    background-color: #fff
}

._9hi9 {
    margin: 10px 0 15px 0
}

._9brz video {
    object-fit: contain
}

._9bs8 {
    padding: 0 10px
}

._9bs9 {
    color: #000;
    margin-top: 8px
}

._9bsa {
    margin: 8px 0
}

._9c2q {
    border-top: 1px solid #dddfe2
}

._9bsb {
    border-top: 1px solid #dddfe2;
    padding: 12px 0
}

._9bsc {
    padding: 12px 0
}

._9hia {
    padding: 4px 0
}

._9bsd {
    background-color: #e4e6eb;
    height: 8px
}

._9del,
._9dem {
    padding-top: 12px;
    text-align: center
}

._9dem {
    background-color: #fff;
    height: 300px;
    margin-bottom: 8px
}

._99g9 {
    margin-bottom: 12px;
    padding: 0 8px
}

._97ki video {
    object-fit: contain
}

._9dj4 {
    background-color: #fff;
    margin-bottom: 12px
}

._9dj5 {
    padding: 0 10px
}

._9dgr {
    margin-top: 12px
}

._9dgu {
    margin-top: 8px
}

._9dgv,
._9dgw {
    border-top: 1px solid #dddfe2;
    padding: 10px 0
}

._9dgv {
    margin-top: 10px
}

._99a4 {
    margin-bottom: 12px
}

@font-face {
    font-family: 'Facebook Sans Bold';
    font-style: normal;
    font-weight: 600;
    src: url(/rsrc.php/yS/r/EIPhZDeu3ra.eot) format('embedded-opentype');
    src: url(/rsrc.php/yS/r/EIPhZDeu3ra.eot) format('embedded-opentype'), url(/rsrc.php/yb/r/-p4fWF0Bw2c.woff2) format('woff2'), url(/rsrc.php/yu/r/nuUaj_dhtGe.woff) format('woff'), url(/rsrc.php/yJ/r/4g1tvDxAApU.ttf) format('truetype')
}

._9b95,
._9bw6,
._9c9t {
    align-items: center;
    background-color: #fff;
    display: flex
}

._9b95 {
    height: 56px
}

._9bw6 {
    padding: 16px 4px 4px 4px
}

._9c9t {
    justify-content: space-between
}

._9bv_ {
    margin: 0 12px 8px 12px
}

._9b97 {
    height: 28px;
    margin: 0 8px 0 8px;
    width: 28px
}

._9b98 {
    color: #1877f2;
    font-family: 'Facebook Sans Bold', FacebookSansApp-Bold, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 20px
}

._9bw0 {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    padding: 16px 12px 8px 12px
}

._9bw1 {
    background-color: #c9ccd1;
    height: 5px;
    width: 100%
}

._9c9u {
    background-color: #e6f2ff;
    border-radius: 6px;
    margin: 10px;
    padding: 8px;
    text-align: center
}

._9d9l {
    background-color: #1877f2
}

._9d7o {
    width: 100%
}

._9c9v {
    color: #1877f2;
    font-family: Roboto, 'Droid Sans', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px
}

._9d7p {
    color: #fff
}

._98y7 {
    background-color: #fff;
    padding-top: 12px
}

._98y8 {
    float: left;
    height: 90px;
    margin: 3px 7px 0 12px;
    position: relative;
    width: 160px
}

._98x- {
    margin-left: 180px;
    min-height: 90px;
    padding-right: 4px
}

._98x_ {
    margin-bottom: 3px;
    margin-top: 4px
}

._98x_ a {
    color: #1d2129;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px
}

._98y0 {
    color: #4b4f56;
    font-size: 12px;
    line-height: 14px
}

._98y9 {
    color: #90949c;
    font-size: 12px;
    line-height: 14px;
    margin-top: 3px
}

._98y9 abbr {
    text-decoration: none
}

._98ya {
    float: right;
    height: 32px;
    margin: 18px 12px 10px 2px;
    width: 32px
}

._98yb {
    color: #90949c;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 3px
}

._98yc {
    background: #ebedf0;
    height: 90px;
    width: 160px
}

._98yd {
    height: 90px;
    width: 160px
}

._98ye {
    background: rgba(0, 0, 0, .5);
    border-radius: 2px;
    bottom: 0;
    color: #fff;
    font-size: 11px;
    margin: 4px;
    padding: 2px 4px;
    position: absolute;
    right: 0
}

._98yf {
    position: relative
}

._9a2u {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

._9axl {
    display: flex
}

._9axm {
    align-items: center;
    background-color: #e6f2ff;
    border-radius: 6px;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 12px;
    width: 100%
}

._9axn {
    color: #1877f2;
    font-family: Roboto, 'Droid Sans', Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 17px
}

._33ei._33ei {
    box-sizing: border-box;
    display: block;
    width: 100%
}

a._33ei {
    width: auto
}

._1oo4 {
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .3);
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle
}

._1oo4:focus {
    box-shadow: 0 0 1px 2px rgba(88, 144, 255, .75), 0 1px 1px rgba(0, 0, 0, .15);
    outline: none
}

._1oo4 .img {
    bottom: 1px;
    position: relative;
    vertical-align: middle
}

._1oo8,
.touch ._1oo8 {
    background-color: #f5f6f7;
    background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    border-color: #dedede #cecece #b7b7b7;
    color: #1d2129
}

._1oo9 {
    background-color: #5b93fc;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    border-color: #4980fb #4375e3 #3c69ca
}

._1ooa {
    background-color: #627aad;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    border-color: #50679c #495e8e #41547f
}

._1oo9,
._1ooa {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, .25)
}

._1oo4._2c66 {
    cursor: default;
    opacity: .5;
    text-shadow: none
}

._1oo5 {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 8px
}

._1oo6 {
    font-size: 14px;
    line-height: 36px;
    padding: 0 12px
}

._1oo7 {
    font-size: 14px;
    line-height: 44px;
    padding: 0 16px
}

.sp_84Sl7WDLA-D {
    background-image: url(/rsrc.php/v3/y5/r/4LI5R76va31.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 28px;
    width: 28px
}

.sp_84Sl7WDLA-D.sx_6ca307 {
    background-position: 0 0
}

.sp_84Sl7WDLA-D.sx_70ad3b {
    width: 11px;
    height: 9px;
    background-position: -1px -30px
}

.sp_dKMJXEj2zrM {
    background-image: url(/rsrc.php/v3/y0/r/V830AJzBCEh.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px
}

.sp_dKMJXEj2zrM.sx_14fb10 {
    background-position: 0 -33px
}

.sp_dKMJXEj2zrM.sx_a70702 {
    background-position: 0 -58px
}

.sp_dKMJXEj2zrM.sx_367ef6 {
    background-position: 0 -83px
}

.sp_dKMJXEj2zrM.sx_70f374 {
    background-position: 0 -108px
}

.sp_dKMJXEj2zrM.sx_7abca4 {
    background-position: 0 -133px
}

.sp_dKMJXEj2zrM.sx_eba4f9 {
    width: 12px;
    height: 12px;
    background-position: -17px -509px
}

.sp_dKMJXEj2zrM.sx_285567 {
    width: 12px;
    height: 12px;
    background-position: -17px -522px
}

.sp_dKMJXEj2zrM.sx_095ebc {
    width: 20px;
    height: 20px;
    background-position: 0 -383px
}

.sp_dKMJXEj2zrM.sx_ba249e {
    width: 12px;
    height: 12px;
    background-position: -17px -535px
}

.sp_dKMJXEj2zrM.sx_9d8ea1 {
    width: 16px;
    height: 16px;
    background-position: 0 -509px
}

.sp_dKMJXEj2zrM.sx_5ac9c4 {
    width: 20px;
    height: 20px;
    background-position: 0 -404px
}

.sp_dKMJXEj2zrM.sx_13e6c1 {
    width: 20px;
    height: 20px;
    background-position: 0 -425px
}

.sp_dKMJXEj2zrM.sx_e94c31 {
    width: 20px;
    height: 20px;
    background-position: 0 -446px
}

.sp_dKMJXEj2zrM.sx_290758 {
    background-position: 0 -158px
}

.sp_dKMJXEj2zrM.sx_bab005 {
    background-position: 0 -183px
}

.sp_dKMJXEj2zrM.sx_7f3fc7 {
    background-position: 0 -208px
}

.sp_dKMJXEj2zrM.sx_e03b71 {
    width: 20px;
    height: 20px;
    background-position: 0 -467px
}

.sp_dKMJXEj2zrM.sx_3ef5a3 {
    background-position: 0 -233px
}

.sp_dKMJXEj2zrM.sx_bdee50 {
    width: 16px;
    height: 16px;
    background-position: 0 -526px
}

.sp_dKMJXEj2zrM.sx_53d4fe {
    width: 16px;
    height: 16px;
    background-position: 0 -543px
}

.sp_dKMJXEj2zrM.sx_797f24 {
    width: 16px;
    height: 16px;
    background-position: 0 -560px
}

.sp_dKMJXEj2zrM.sx_d76123 {
    background-position: 0 -258px
}

.sp_dKMJXEj2zrM.sx_6cfd0c {
    background-position: 0 -283px
}

.sp_dKMJXEj2zrM.sx_8e32cf {
    width: 12px;
    height: 12px;
    background-position: -17px -548px
}

.sp_dKMJXEj2zrM.sx_fd49b6 {
    width: 16px;
    height: 16px;
    background-position: 0 -577px
}

.sp_dKMJXEj2zrM.sx_7cd8b8 {
    width: 16px;
    height: 16px;
    background-position: 0 -594px
}

.sp_dKMJXEj2zrM.sx_a50b00 {
    background-position: 0 -308px
}

.sp_dKMJXEj2zrM.sx_f563e5 {
    background-position: 0 -333px
}

.sp_dKMJXEj2zrM.sx_6d31fa {
    width: 32px;
    height: 32px;
    background-position: 0 0
}

.sp_dKMJXEj2zrM.sx_d68926 {
    width: 20px;
    height: 20px;
    background-position: 0 -488px
}

.sp_dKMJXEj2zrM.sx_e5a142 {
    background-position: 0 -358px
}

.sp_dKMJXEj2zrM.sx_612940 {
    width: 12px;
    height: 12px;
    background-position: -17px -561px
}

.sp_dKMJXEj2zrM.sx_f75ea7 {
    width: 12px;
    height: 12px;
    background-position: -17px -574px
}

.sp_dKMJXEj2zrM.sx_0bdc96 {
    width: 12px;
    height: 12px;
    background-position: -17px -587px
}

.sp_dKMJXEj2zrM.sx_5977c4 {
    width: 12px;
    height: 12px;
    background-position: 0 -611px
}

.sp_dKMJXEj2zrM.sx_37addb {
    width: 12px;
    height: 12px;
    background-position: -13px -611px
}

.sp_dKMJXEj2zrM.sx_9287dc {
    width: 10px;
    height: 10px;
    background-position: -21px -383px
}

.sp_dKMJXEj2zrM.sx_2753f1 {
    width: 10px;
    height: 10px;
    background-position: -21px -394px
}

.sp_dKMJXEj2zrM.sx_2b6213 {
    width: 10px;
    height: 10px;
    background-position: -21px -405px
}

.sp_dKMJXEj2zrM.sx_3d6367 {
    width: 10px;
    height: 10px;
    background-position: -21px -416px
}

.sp_dKMJXEj2zrM.sx_e27809 {
    width: 10px;
    height: 10px;
    background-position: -21px -427px
}

._42ef {
    overflow: hidden
}

._8o,
._8o .img {
    display: block
}

._8r {
    margin-right: 5px
}

._8s {
    margin-right: 8px
}

._8t {
    margin-right: 10px
}

._23n- {
    position: relative
}

._32rk {
    position: absolute
}

._32rk._32rg {
    left: 0
}

._32rk._32rh {
    right: 0
}

._32rk._1cy5 {
    left: 50%;
    transform: translateX(-50%)
}

._32rk._32ri {
    top: 0
}

._32rk._32rj {
    bottom: 0
}

._32rk._1cy6 {
    top: 50%;
    transform: translateY(-50%)
}

._32rk._1cy5._1cy6 {
    transform: translate(-50%, -50%)
}

._8ie- {
    padding: 16px 0 0 0;
    white-space: normal;
    word-wrap: break-word
}

._8ie-._999m {
    padding: 0
}

._8ie- a {
    color: #4b4f56;
    font-size: 12px;
    text-transform: none
}

._999m i {
    margin: 5px 3px
}

._8ie- ._8if0 {
    color: #90949c;
    font-size: 12px;
    text-transform: none
}

._3j00 {
    border: none
}

._3j00._376l {
    border-top: solid 1px #dddfe2
}

._3j00._376m {
    border-bottom: 1px solid #dadde1
}

._3j00._376n {
    padding-bottom: 4px;
    padding-top: 2px
}

._3j01 {
    cursor: pointer;
    padding: 14px 22px 12px;
    position: relative
}

._5bh->._3j01 {
    padding: 6px 10px
}

._3j08 {
    color: #4c4c4c;
    padding-left: 6px;
    vertical-align: middle
}

._40na ._3j08 {
    padding-left: 0
}

._376n ._3j09 {
    left: -6px;
    position: relative
}

._3j09 {
    display: inline-block;
    transition: transform .05s ease;
    vertical-align: middle
}

._357d {
    margin-top: -6px;
    position: absolute;
    right: 0;
    top: 50%
}

._1kar>._3j01>._3j09 {
    transform: rotate(90deg)
}

._1kar>._3j01>._3j08 {
    color: #1d2129
}

._3j0t {
    display: none;
    margin: 0 22px 18px
}

._3j0t._57rq {
    margin-bottom: 12px
}

._5bh->._3j0t {
    margin: 0 28px 10px
}

._1kar>._3j0t {
    display: block
}

._4ksj {
    vertical-align: middle
}

._357e {
    padding-left: 0;
    padding-right: 0
}

._40nb>._3j0t {
    margin-bottom: 0
}

._87je>._3j0t {
    margin-left: 0
}

._50f3 {
    font-size: 12px;
    line-height: 16px
}

._50f4 {
    font-size: 14px;
    line-height: 18px
}

._50f5 {
    font-size: 16px;
    line-height: 20px
}

._50f6 {
    font-size: 18px;
    line-height: 22px
}

._2iei {
    font-size: 40px;
    line-height: 48px
}

._2iej {
    font-size: 24px;
    line-height: 28px
}

._2iek {
    font-size: 20px;
    line-height: 24px
}

._2iel {
    font-size: 16px;
    line-height: 20px
}

._2iem {
    font-size: 14px;
    line-height: 18px
}

._2ien {
    font-size: 14px;
    line-height: 18px
}

._2ieo {
    font-size: 13px;
    line-height: 17px
}

._2iep {
    font-size: 12px;
    line-height: 16px
}

._2ieq {
    font-size: 12px;
    line-height: 16px
}

._50f7 {
    font-weight: 600
}

._5kx5 {
    font-weight: normal
}

._50f8 {
    color: #90949c
}

._c24 {
    color: #4b4f56
}

._50f9 {
    color: #1d2129
}

._2iev {
    color: #1c1e21
}

._2iex {
    color: #606770
}

._2iey {
    color: #bec3c9
}

._rzx {
    color: #385898
}

._rzy {
    color: #8d949e
}

._2ier {
    color: #fff
}

._1hk0 {
    color: #1877f2
}

._2iet {
    color: #00a400
}

._2ieu {
    color: #fa383e
}

._2iez {
    color: #ccc
}

._2ie- {
    color: #4a4a4a
}

._2ie_ {
    color: #373737
}

#facebook ._5s6c._5s6c,
._5s6c {
    font-family: Georgia, serif;
    letter-spacing: normal
}

#facebook ._6mv-._6mv-,
._6mv- {
    font-family: 'Open Dyslexic';
    letter-spacing: normal
}

.CometSettingsPage ._2iep,
.CometSettingsPage ._2ieq,
.CometSettingsPage ._50f4 {
    font-size: 15px;
    line-height: 20px
}

.CometSettingsPage ._50f4 {
    font-weight: 500
}

._6lv0 {
    width: auto
}

._6sa9 {
    width: fit-content
}

._6saa {
    width: max-content
}

._6sab {
    width: min-content
}

._8a4a {
    width: 5%
}

._6saj {
    width: 20%
}

._75u3 {
    width: 25%
}

._6sak {
    width: 40%
}

._9adl {
    width: 45%
}

._653c {
    width: 50%
}

._1aa4 {
    width: 60%
}

._6qk8 {
    width: 80%
}

._91p- {
    width: 95%
}

._21op {
    width: 100%
}

._91h1 {
    max-width: 30%
}

._91h3 {
    max-width: 30%
}

._91hn {
    max-width: 50%
}

._4x_f {
    max-width: 80%
}

._6y_w {
    max-width: 100%
}

._84dk {
    min-width: 0
}

._56x5 {
    background-size: 100%;
    display: inline-block;
    position: relative
}

._89i4 {
    background-color: transparent;
    border: none;
    bottom: 6px;
    color: rgba(0, 0, 0, .8);
    font-size: 10px;
    font-weight: 500;
    left: 4px;
    position: absolute;
    text-decoration: underline;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, .6), 1px -1px 0 rgba(255, 255, 255, .6), -1px 1px 0 rgba(255, 255, 255, .6), 1px 1px 0 rgba(255, 255, 255, .6)
}

._89i4:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    text-decoration: underline
}

._2b80 {
    bottom: 6px;
    color: rgba(0, 0, 0, .6);
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    right: 8px;
    text-decoration: underline;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, .6), 1px -1px 0 rgba(255, 255, 255, .6), -1px 1px 0 rgba(255, 255, 255, .6), 1px 1px 0 rgba(255, 255, 255, .6)
}

._2b80:hover {
    color: rgba(0, 0, 0, .8);
    cursor: pointer
}

._6-_f._79wz ._56x5 {
    box-shadow: inset 4px 0 0 0 #3578e5
}

._5le5 {
    color: #365899;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600
}

._3zl7 ._3zl3 {
    margin-left: 4px
}

._5le5 ._3zl3 {
    margin-right: 4px
}

._3zl3 {
    position: relative;
    top: 1px
}

._3zl6 {
    font-size: 14px
}

._3zl7 {
    font-size: 24px;
    line-height: 32px
}

._3zl8._3zl9 {
    border-bottom: 1px dashed #90949c
}

._3zl7:hover ._3zl9 {
    cursor: pointer
}

._3zl8:not(._3zl9),
._3zla {
    color: #1d2129
}

._3zlc {
    color: #90949c;
    text-align: center
}

._5le6 {
    color: #4b4f56;
    font-size: 14px
}

._3zlc button {
    height: inherit;
    max-width: 93%;
    white-space: normal;
    word-break: break-word
}

.touch ._3zlc button {
    max-width: 100%
}

.touch ._3zl7 ._3zl3 {
    top: 6px
}

.touch ._5le5 ._3zl3 {
    top: 2px
}

._5g1e {
    font-weight: bold
}

._5g1f {
    color: #8d949e;
    font-size: 12px
}

._5g1g {
    color: #8d949e;
    font-size: 14px;
    padding-top: 5px
}

._5g1h {
    color: #000;
    font-family: Arial, sans-serif;
    text-align: center
}

._26eb {
    color: #8d949e;
    font-size: 12px;
    text-align: center
}

._26ec {
    font-weight: bold
}

#bootloader_GhzVF {
    height: 42px;
}

.bootloader_GhzVF {
    display: block !important;
}