.online .online_show,
.offline_show {
    display: block
}

.online_show,
.online .offline_show {
    display: none
}

._5too {
    display: inline-block
}

html ._1fyf {
    display: block;
    padding: 8px 0
}

._5t1x {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    text-align: center;
    vertical-align: top
}

html ._1fyf ._5t1y {
    margin-right: 12px
}

._5t1y {
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(256, 256, 256, .3);
    position: relative
}

html ._1fzi {
    height: 50px;
    width: 50px
}

._5t1z {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    height: 86px;
    vertical-align: middle;
    width: 86px
}

._6_s3 {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    vertical-align: middle
}

html ._1fyf ._5t1- {
    padding: 0 0 0 4px;
    text-align: left;
    line-height: 50px
}

html ._5t1- {
    cursor: pointer;
    overflow: hidden;
    padding-top: 8px;
    text-overflow: ellipsis;
    width: 88px
}

html ._2uz9 {
    color: #fff
}

._5gb4 {
    background: #da2929;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 3px;
    position: absolute;
    right: -5px;
    top: -8px
}

.img._34ea {
    border: solid 1px rgba(0, 0, 0, .2)
}

._5s_e {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    max-height: 260px;
    min-height: 152px;
    text-align: center
}

._5s_e>div {
    padding-top: 16px
}

._5s_e img {
    border: none
}

._4dap {
    border-bottom: 1px solid #e6e7e7;
    border-top: 1px solid #e6e7e7
}

.touch ._4dao {
    color: #1d2129
}

html ._4dao {
    font-weight: bold
}

._5-x3 {
    font-size: 11px;
    padding: 8px
}

._5t2b {
    background-color: #3b5998;
    color: #fff;
    overflow: hidden;
    position: relative
}

._5t2c {
    display: block;
    padding: 10px 36px;
    vertical-align: middle
}

._5t2d {
    left: 12px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    vertical-align: middle
}

._5t2d>.img {
    vertical-align: top
}

.touch ._58pw ._58px {
    margin-bottom: 8px
}

.touch ._58pw ._7br8 {
    font-weight: bold;
    margin: 8px 0
}

.touch ._58pw ._7br9 {
    background-color: #f5f6f7
}

.touch ._58pw ._99hl {
    background-color: #f5f6f7;
    background-image: none
}

.touch ._58pw ._99hl::after {
    border: 0;
    border-style: none
}

.touch ._58pw ._7bra {
    background-color: #1877f2;
    background-image: none;
    color: #fff;
    font-weight: normal;
    text-shadow: none
}

.touch ._58pw ._7bra.touched {
    background-color: #6eadff;
    background-image: none;
    color: #fff;
    font-weight: normal;
    text-shadow: none
}

.touch ._58pw ._58py {
    margin-top: 16px
}

.touch ._58pw ._6nq9 {
    margin-top: 4px
}

.touch ._58pw ._6nqa {
    margin-top: 8px
}

.touch ._58pw .item .title {
    font-size: 14px
}

.touch ._58pw .item .subtitle {
    font-size: 12px;
    height: 20px;
    line-height: 20px
}

.touch ._58pw ._1xy5 {
    margin-top: 8px
}

.touch ._58pw ._1xy6 {
    margin-left: 8px
}

.touch ._58pw ._1xy7 {
    margin-top: 8px
}

.touch ._58pw ._1xy8 .ib {
    vertical-align: bottom
}

.touch ._6nfq {
    font-size: 14px;
    height: 40px;
    line-height: 20px
}

.touch ._7brb {
    background-color: #f5f6f7
}

.touch ._6nfr {
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 4px
}

.touch ._7brc {
    color: #000;
    font-weight: bold;
    padding: 8px 0
}

.touch ._8j13 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px
}

.touch ._8j14 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px
}

._3xpv {
    text-align: center
}

.touch a._7brd {
    color: #1877f2
}

.touch a._88fl {
    color: #1877f2;
    font-weight: bold
}

._5ug8 {
    width: 48px
}

.touch ._88fm ._7bre.touched::before,
.touch .btnBar ._7bre.touched::before {
    background-color: #6eadff
}

.touch ._88fm ._7bre::before,
.touch .btnBar ._7bre::before {
    background-color: #1877f2;
    background-image: none
}

.touch ._88fm ._7bre.touched,
.touch .btnBar ._7bre.touched {
    border: 1px solid #6eadff
}

.touch ._88fm ._7bre,
.touch .btnBar ._7bre {
    border: 1px solid #1877f2
}

.touch .btnBar ._7brf.touched {
    background-color: #fff;
    border: 1px solid #6eadff;
    color: #6eadff
}

.touch .btnBar ._7brf {
    background-color: #fff;
    border: 1px solid #6eadff;
    color: #1877f2
}

.touch .btnBar ._8khp {
    margin-right: 1px
}

.touch .btnBar ._8khq {
    margin-left: 2px;
    width: calc(100% - 2px)
}

.touch ._7vd0 ._7brg.touched {
    background-color: #fff;
    border: 1px solid #6eadff;
    color: #6eadff;
    margin-top: 8px
}

.touch ._7vd0 ._7brg {
    background-color: #fff;
    border: 1px solid #6eadff;
    color: #1877f2;
    margin-top: 8px
}

.touch ._7vd0 ._7brh.touched {
    background-color: #fff;
    border: 1px solid #6eadff;
    color: #6eadff;
    margin-top: 12px
}

.touch ._7vd0 ._7brh {
    background-color: #fff;
    border: 1px solid #6eadff;
    color: #1877f2;
    margin-top: 12px
}

.touch ._7vd0 ._8276 {
    padding-bottom: 8px;
    padding-top: 4px
}

.touch ._7vd0 ._8277 {
    padding-right: 10px;
    width: 100%
}

.touch ._7vd0 ._8278 {
    font-size: 14px;
    height: 40px;
    line-height: 20px
}

.touch ._7vd0 ._8279::before,
.touch ._7vd0 ._8279.touched::before {
    background-color: #e6f2ff;
    background-image: none
}

.touch ._7vd0 ._8279 {
    background-image: none;
    color: #1877f2;
    font-weight: bold;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: none
}

.touch ._7vd0 ._8279.touched {
    background-image: none;
    color: #6eadff;
    font-weight: bold;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: none
}

.touch ._7vd0 ._8276 ._8279::after {
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 0;
    bottom: -1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .07), inset 0 -1px 1px 0 rgba(0, 0, 0, .05);
    content: "";
    left: -1px;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 1
}

.touch ._58pw ._827b {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0
}

.touch ._85kw {
    font-size: 14px;
    line-height: 20px;
    padding: 0 12px
}

.touch ._85kw {
    border-radius: 4px;
    box-shadow: inset 0 1px 2px #ccd0d5
}

.touch ._85kw::-webkit-input-placeholder {
    color: #8d949e;
    opacity: 1
}

.touch ._85kw:-ms-input-placeholder {
    color: #8d949e
}

.touch ._88fm ._88fo,
.touch .btnBar ._88fo {
    background-color: #fff;
    background-image: none;
    border: 1px solid #6eadff;
    color: #1877f2;
    text-shadow: none
}

.touch ._88fo.touched,
.touch .btnBar ._88fo.touched {
    background-color: #fff;
    background-image: none;
    border: 1px solid #6eadff;
    color: #6eadff;
    text-shadow: none
}

.touch ._88fm ._88fo {
    margin-top: 8px
}

._8gc0 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 16px;
    text-align: left
}

._95jf {
    color: gray;
    font-size: 14px;
    line-height: 16px;
    padding: 0 16px 16px 16px;
    text-align: left
}

.touch ._8gc4 {
    border: 1px;
    border-color: #ced0d4;
    border-radius: 4px;
    padding: 12px 16px 0 16px
}

.touch ._8gc4 ._8gc6 {
    background-color: #1877f2;
    background-image: none;
    border: 1px;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-shadow: none;
    width: 100%
}

._8gc- {
    font-size: 14px;
    line-height: 17px;
    max-height: 40px;
    overflow: hidden;
    word-wrap: break-word
}

._8gd1 {
    font-size: 16px;
    line-height: 18px
}

._8qcw {
    color: #56585c;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 16px 12px 16px;
    text-align: left
}

.touch ._8qcx {
    color: #56585c
}

._8dol {
    background-color: #f2f3f5;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
    padding: 12px
}

._16m8 {
    border-bottom: 1px solid gray;
    float: left;
    margin-right: 12px;
    overflow: hidden
}

._16m9 {
    border-bottom: 1px solid gray;
    overflow: hidden
}

._66ij {
    margin-bottom: 24px
}

._16mm {
    margin-top: -8px
}

._7tuj {
    font-size: medium;
    width: 100%
}

._7tum {
    margin-top: -8px;
    text-align: left
}

._3g8m {
    border: 1px solid #90949c;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
    width: 65%
}

._71fp {
    display: none
}

._7uyz {
    left: -999999999px;
    position: absolute
}

._3kt6 {
    margin: 9px 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap
}

._3kt7 {
    margin-right: 8px
}

._3kt6,
._3kta {
    display: inline-block
}

._3ktb {
    font-size: 12px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0
}

._7tup {
    border-width: 2px;
    font-size: medium;
    margin: 6px 0 6px 0;
    padding: 6px 0 6px 0;
    width: 100%
}

._3kt6 ._3ktc {
    margin: 3px 0 0 8px;
    vertical-align: initial
}

._3ktd {
    margin-right: 8px;
    margin-top: 3px
}

._w6t {
    color: #90949c;
    font-weight: 300;
    padding: 8px 4px 12px 4px;
    text-align: center
}

._7to- {
    color: #606770;
    font-family: ArialMT, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    padding: 12px 4px 12px 4px;
    text-align: left
}

._w6u {
    display: inline;
    width: 80%
}

._w6w {
    color: #1d2129;
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 12px;
    text-align: center
}

._8txe {
    margin: 1em 0
}

._i83>* {
    margin-bottom: 8px
}

._i83>*:last-child {
    margin-bottom: 0
}

._i84 {
    font-size: 14px;
    line-height: 20px
}

._3cj1 {
    text-align: center
}

._3cj2 {
    text-align: left
}

._1v4t {
    float: right
}

html ._3-t_._3-t_ {
    border-bottom: none;
    padding-bottom: 4px
}

button._56yp {
    color: #90949c;
    cursor: pointer;
    margin: 16px 0
}

a._82hp {
    color: #90949c;
    cursor: pointer
}

div._82hq {
    margin-bottom: 12px
}

div._87li {
    margin-top: 16px;
    margin-bottom: 12px
}

._acu {
    font-size: 14px;
    line-height: 20px
}

._1ozg {
    border-bottom: 1px solid #dadde1;
    padding: 0 0 12px 0;
    text-align: left
}

._dd6 {
    text-align: center
}

.x2.touch ._50ni ._50nk,
.touch ._50ni ._50nk,
._50ni ._50nk {
    background: none;
    border: none;
    box-shadow: none;
    color: #576b95;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
    padding: 0;
    text-align: left;
    white-space: normal
}

.touch ._p_9 {
    margin-top: 8px
}

.touch ._p_9 .btnBar td {
    padding-right: 8px
}

._ffs {
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0
}

.touch ._p_9 .btnBar td._2t- {
    display: none
}

.touch ._p_9 .btnBar td._2hw0 {
    padding-right: 0
}

._p_9 .btnBar button {
    white-space: normal
}

._p_9 .btnBar button span {
    line-height: 20px;
    margin-top: auto
}

._4x1x ._2o-c,
._4x1x ._2o-d,
._4x1x ._2o-e {
    display: inline-block;
    vertical-align: middle
}

._2o-c,
._2o-d {
    margin-right: 5px
}

html ._4x1y._4x1y {
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    padding: 12px;
    resize: none;
    width: 100%
}

._2h7e {
    text-align: center
}

html ._40wt._40wt {
    height: 24px;
    margin: 0;
    padding: 12px
}

._40wt .jx-typeahead-results {
    border-bottom-color: #dadde1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 10000
}

._40wt .jx-typeahead-results .jx-result {
    border-left: 1px solid #bec3c9;
    border-right: 1px solid #bec3c9;
    overflow: hidden
}

._40wt .jx-typeahead-results .jx-result:first-child {
    border-top: none;
    margin-top: 0
}

._40wt .jx-typeahead-results .jx-result:last-child {
    border-bottom: 1px solid #bec3c9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

html ._40wt .typeaheadPhoto {
    height: 20px;
    margin-right: 5px
}

html ._40wu._40wu {
    border: none;
    box-shadow: none;
    padding-left: 0
}

._1d1o {
    clear: both
}

._1_iw {
    text-align: center
}

.touch ._1055 {
    margin: 0 0 8px;
    overflow: hidden;
    transition: height 0s ease-in
}

._32ps {
    background-color: rgba(255, 255, 255, .5);
    bottom: -500px;
    left: -500px;
    position: absolute;
    right: -500px;
    text-align: center;
    top: -500px
}

._32pt {
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    position: fixed;
    top: 50%
}

._50ni ._2_d_ {
    vertical-align: middle
}

._50ni ._1gfo {
    border: 1px solid #fa3e3e;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 1px
}

._1_iw ._-cn {
    font-size: 14px;
    margin: 12px 0
}

._1_iw a._-cn {
    color: #90949c
}

.touch a._8f9e {
    color: #1877f2
}

.touch ._2t- {
    display: none
}

.touch .btnBar {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed
}

.touch .btnBar .btn {
    border-radius: 3px;
    display: block;
    width: 100%
}

.touch .btnBar td {
    padding: 0 3px 0 2px
}

.touch .btnBar td:first-child {
    padding-left: 0
}

.touch .btnBar td:last-child {
    padding-right: 0
}

._2mpg {
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    display: inline;
    font-size: inherit;
    margin: 0;
    padding: 0
}

._2mph {
    color: #576b95
}

.sp_3tI9Pq49fuf {
    background-image: url(/rsrc.php/v3/y5/r/h91uK5HKugN.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px
}

.sp_3tI9Pq49fuf.sx_747401 {
    width: 7px;
    height: 14px;
    background-position: -300px 0
}

.sp_3tI9Pq49fuf.sx_7c2a51 {
    width: 85px;
    height: 177px;
    background-position: -221px -15px
}

.sp_3tI9Pq49fuf.sx_42f9d0 {
    width: 6px;
    height: 14px;
    background-position: -65px -15px
}

.selected .sp_3tI9Pq49fuf.sx_42f9d0 {
    background-position: -59px -15px
}

.sp_3tI9Pq49fuf.sx_058c6a {
    width: 16px;
    height: 16px;
    background-position: -42px -15px
}

.sp_3tI9Pq49fuf.sx_a38935 {
    background-position: 0 -15px
}

.sp_3tI9Pq49fuf.sx_f0943a {
    background-position: -21px -15px
}

.sp_3tI9Pq49fuf.sx_2b9155 {
    width: 26px;
    height: 26px;
    background-position: -280px -203px
}

#bootloader_wXEcN {
    height: 42px;
}

.bootloader_wXEcN {
    display: block !important;
}